{erl_opts, [debug_info]}.
{deps, [
        {webmachine, ".*", {git, "git://github.com/webmachine/webmachine", {branch, "develop"}}},
        {cowboy, ".*", {git, "git://github.com/ninenines/cowboy", {branch, "master"}}}
]}.

{profiles,
 [{test,
   [{deps, 
     [
      {ibrowse, {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.2"}}}
     ]},
    {erl_opts, [debug_info]}
   ]}
 ]}.
