{erl_opts, [debug_info]}.
{deps, [
        {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}}
       ]}.

{profiles,
 [{test,
   [{deps,
     [
      {ibrowse, {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.2"}}},
      {websocket_client, {git, "https://github.com/jeremyong/websocket_client.git", {branch, "master"}}}
     ]},
    {erl_opts, [debug_info]}
   ]}
 ]}.
